@{
    ViewData["Title"] = "";
}


<br>
<br>
<div class="align-content-center">
    <div class="input-group">
        <form>
            <input type="text" class="form-control" id="foodAndLocation">
            <button class="btn btn-info" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>
</div>
