@{
    ViewData["Title"] = "";
}

<br>
<br>

@using (Html.BeginForm("RestaurantList", "Home", FormMethod.Post))
{
    <div class="input-group">
        <input type="text" class="form-control" id="menuItemNameInCity" value="Doesn't work yet; click search">
        <button class="btn btn-info" type="submit" id="searchbMenuItemNameInCity"> 
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
}
