@{
    ViewData["Title"] = "";
}

@using (Html.BeginForm("RestaurantList", "Home", FormMethod.Post, new { id = "findMenuItemNameInCity" }))
{
    <br>
    <br>
    <div>
        <div class="input-group col-sm-10">
            <span class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            @Html.TextBox("findMenuItemNameInCity", null, new { @class = "form-control py-2" })
        </div>
    </div>
}
