@{
    ViewData["Title"] = "";
}

<br>
<br>

@using (Html.BeginForm("RestaurantList", "Home", FormMethod.Post, new { id = "menuItemNameInCity" }))
{
<div class="input-group">
    <button class="btn btn-info" type="submit">
        <span class="glyphicon glyphicon-search"></span>
    </button> 
    @Html.TextBox("findMenuItemNameInCity", null, new { @class = "form-control" })
</div>
}
